@import "./slider.css";
@import "./timer.css";

* {
  padding: 0;
  margin: 0;
  font-family: "TT Norms";
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background: #37a4ff;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-wrapper {
  width: 100%;
  padding: 10px 0 10px 0;
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.18);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  font-size: 0;
  width: 220px;
  height: auto;
}

.logo img {
  display: block;
  width: 100%;
}

.header-text {
  width: 140px;
  line-height: 1.286;
  font-size: 14px;
}

.header-time-work {
  text-align: right;
}

.header-time-work__title {
  position: relative;
  font-size: 14px;
  color: rgb(0, 178, 105);
  padding-bottom: 10px;
}

.header-time-work__text {
  font-size: 14px;
}

.header-time-work__title::before {
  content: "";
  width: 7px;
  height: 7px;
  background: #00b269;
  position: absolute;
  left: -23px;
  top: 0px;
  border-radius: 50%;
  border: 4px solid #b2e8d2;
}

.header-links {
  display: flex;
  align-items: center;
}

.better-links {
  display: flex;
  align-items: center;
}

.header-links li {
  margin-right: 10px;
}

.header-links li:last-child {
  margin-right: 0;
}

.header-links__item {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 0;
  transition: all 0.3s;
}

.better-links__item {
  position: relative;
  top: 1px;
  left: 80px;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 0;
  transition: all 0.3s;
}

.betterr-links__item {
  position: relative;
  top: 1px;
  left: 70px;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 0px;
  transition: all 0.3s;
}

.header-links__item:hover {
  transform: scale(1.1);
}

.header-links img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.better-links img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.viber {
  background-color: rgb(122, 92, 165);
  box-shadow: 0px 8px 16px 0px rgba(122, 92, 165, 0.4);
}

.telegram {
  background-color: rgb(65, 176, 229);
  box-shadow: 0px 8px 16px 0px rgba(60, 179, 222, 0.52);
}

.telegramm {
  background-color: rgb(247, 127, 4);
  /* box-shadow: 0px 8px 16px 0px rgba(247, 127, 4); */
}

.call {
  background-color: rgb(0, 221, 123);
  box-shadow: 0px 8px 16px 0px rgba(0, 221, 123, 0.52);
}

.footer-phone,
.header-phone {
  position: relative;
  padding-left: 50px;
}

.better-phone {
  position: relative;
  padding-left: 40px;
}

.footer-phone::before,
.header-phone::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background-image: -webkit-linear-gradient(90deg,
      rgb(247, 127, 4) 0%,
      rgb(250, 157, 16) 32%,
      rgb(253, 187, 28) 100%);
  box-shadow: 0px 10px 21px 0px rgba(250, 159, 17, 0.49);
  border-radius: 50%;
}

.footer-phone::after,
.header-phone::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url(/img/header/header-phone.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-phone__item,
.header-phone__item {
  display: block;
  font-size: 18px;
  font-family: "HouschkaRoundedAlt";
}

.main-wrapper {
  width: 100%;
  height: 820px;
  background-image: url(/img/main/main-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  margin-bottom: 100px;
}

.maiin-wrapper {
  width: 100%;
  height: 820px;
  background-image: url(/img/main/main-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  margin-bottom: 100px;
}

.main {
  position: relative;
  padding-top: 20px;
}

.maiin {
  position: relative;
  padding-top: 20px;
}

.form-block__text,
.main-text {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  padding: 10px 30px;
  background-image: url(/img/main/text-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.maiin-text {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  padding: 10px 30px;
  background-image: url(/img/main/text-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.form-block__title,
.main-title {
  font-size: 48px;
  color: rgb(41, 105, 158);
  line-height: 1.06;
  font-family: "HouschkaRoundedAlt 5";
  padding: 25px 250px 20px 0;
  letter-spacing: -1px;
}

.maiin-title {
  font-size: 48px;
  color: rgb(38, 0, 255);
  line-height: 1.06;
  font-family: "HouschkaRoundedAlt 7";
  padding: 25px 250px 20px 0;
  letter-spacing: -1px;

}



.main-slide-container {
  position: absolute;
  right: -7%;
  bottom: 15px;
  width: 50%;
  overflow: hidden;
}

.maiin-slide-container {
  position: absolute;
  right: -5%;
  bottom: 0;
  width: 50%;
  overflow: hidden;
}

.main-slide__item {
  padding-top: 60px;
  position: relative;
}

.maiin-slide__item {
  padding-top: 60px;
  position: relative;
}

.main-slide__item img {
  display: block;
  width: 100%;
}

.maiin-slide__item img {
  display: block;
  width: 100%;
}

.discount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  color: #ffffff;
  top: 0;
  right: 0;
  width: 160px;
  height: 160px;
  background-image: url(/img/main/discount.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 9999;
}

.main-img {
  display: none;
}

.maiin-img {
  display: none;
}

.main-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  width: 670px;
}

.maiin-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  width: 670px;
}

.main-list__text {
  margin: 0 25px;
  position: relative;
  padding-left: 130px;
  font-weight: 600;
  font-style: italic;
}

.maiin-list__text {
  margin: 0 25px;
  position: relative;
  padding-left: 130px;
  font-weight: 600;
  font-style: italic;
}

.main-list__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background-image: url(/img/main/1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 6px solid #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.maiin-list__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background-image: url(/img/main/1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 6px solid #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.main-list__text:nth-child(2)::before {
  background-image: url(/img/main/2.png);
}

.maiin-list__text:nth-child(2)::before {
  background-image: url(/img/main/2.png);
}

.main-container {
  display: flex;
  align-items: center;
}

.maiin-container {
  display: flex;
  align-items: center;
}

.main-btn {
  position: relative;
  display: block;
  background: -webkit-linear-gradient(90deg,
      rgb(247, 127, 4) 0%,
      rgb(253, 187, 28) 100%);
  box-shadow: 0px 9px 47px rgba(252, 174, 22, 0.52);
  border-radius: 50px;
  position: relative;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  padding: 32px 100px 32px 70px;
  font-size: 14px;
  letter-spacing: 1.7px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 30px;
}

.maiin-btn {
  position: relative;
  display: block;
  background: -webkit-linear-gradient(90deg,
      rgb(247, 127, 4) 0%,
      rgb(253, 187, 28) 100%);
  box-shadow: 0px 9px 47px rgba(252, 174, 22, 0.52);
  border-radius: 50px;
  position: relative;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  padding: 32px 100px 32px 70px;
  font-size: 14px;
  letter-spacing: 1.7px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 30px;
}

.main-btn::before {
  position: absolute;
  content: "";
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url(/img/main/arrow.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.maiin-btn::before {
  position: absolute;
  content: "";
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url(/img/main/arrow.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.main-btn:hover {
  opacity: 0.7;
}

.maiin-btn:hover {
  opacity: 0.7;
}

.main-price {
  padding-top: 10px;
}

.maiin-price {
  padding-top: 10px;
}

.main-price__text {
  font-size: 14px;
  color: rgb(21, 65, 101);
  font-weight: bold;
  text-transform: uppercase;
}

.maiin-price__text {
  font-size: 14px;
  color: rgb(21, 65, 101);
  font-weight: bold;
  text-transform: uppercase;
}

.main-price__price {
  font-size: 42px;
  font-family: "HouschkaRoundedAlt";
  color: rgb(55, 164, 255);
  font-weight: 500;
}

.maiin-price__price {
  font-size: 42px;
  font-family: "HouschkaRoundedAlt";
  color: rgb(55, 164, 255);
  font-weight: 500;
}

.discount-text {
  font-size: 18px;
}

.discount-тumber {
  font-size: 40px;
}

.discount-item {
  position: absolute;
  font-size: 18px;
  left: 20px;
  top: 68px;
}

.video-wpapper {
  position: relative;
  bottom: 100px;
  /* overflow: hidden; */
  padding-bottom: 100px;
}

.video {
  position: relative;
  margin-bottom: -100px;
}

.video-title {
  text-align: center;
  font-size: 50px;
  color: rgb(41, 105, 158);
  line-height: 1.06;
  letter-spacing: -0.7px;
  font-family: "HouschkaRoundedAlt 5";
  margin-bottom: 80px;
}

.video-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  height: 456px;
  background: url(../img/video/video-bg.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 60px;
  border-radius: 4%;
}

.viideo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  height: 456px;
  background: url(../img/video/video-bg.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 60px;
  border-radius: 4%;
}

.video-block__text {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  padding: 10px 30px;
  background-image: url(/img/main/text-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
}

.video-link a {
  font-size: 0;
  display: block;
  width: 160px;
  height: 160px;
  background-image: url(/img/video/play-video.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s;
}

.video-link a:hover {
  transform: scale(1.04);
}

.video-hend {
  position: absolute;
  top: 450px;
  right: 85%;
  width: 620px;
  height: 355px;
  background-image: url(/img/video/hand.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.set-title {
  font-family: "HouschkaRoundedAlt 7";
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.set-list {
  display: flex;
  justify-content: space-between;
}

.set-list li {
  position: relative;
  width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
}

.set-list__icon {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px rgba(10, 79, 145, 0.2);
  margin-bottom: 20px;
}

.set-list__icon img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.set-list__text {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

.set-list__text span {
  font-weight: 700;
}

/* .reasons {
    width: 100%;
    height: 1400px;
    background-image: url(/img/reasons/reason-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
} */

.reasons-title {
  text-align: center;
  font-size: 50px;
  color: rgb(41, 105, 158);
  line-height: 1.06;
  letter-spacing: -0.7px;
  font-family: "HouschkaRoundedAlt 5";
  margin-bottom: 80px;
  padding-top: 100px;
  padding: 0 160px;
}

.reasons-list {
  display: flex;
  justify-content: space-between;
}

.reasons-wrapper {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

}

.reasons-list li {
  width: 30%;
}

.reasons-list__icon {
  position: relative;
  margin: 0 auto;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: 6px solid #ededed;
  box-shadow: 0px 8px 16px 0px rgba(10, 79, 145, 0.2);
  margin-bottom: 30px;
}

.reasons-list__icon img {
  display: block;
  width: 100%;
}

.reasons-list__three,
.reasons-list__second,
.reasons-list__first {
  position: relative;
}

.reasons-list__three::before,
.reasons-list__second::before,
.reasons-list__first::before {
  position: absolute;
  content: "";
  bottom: 50%;
  right: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  z-index: 99;
}

.reasons-list__first::before {
  width: 58px;
  height: 120px;
  background-image: url(/img/reasons/number-1.png);
}

.reasons-list__second::before {
  width: 86px;
  height: 120px;
  background-image: url(/img/reasons/number-2.png);
}

.reasons-list__three::before {
  width: 86px;
  height: 120px;
  background-image: url(/img/reasons/number-3.png);
}

.reasons-list__title {
  color: #46a8ed;
  text-align: center;
  padding: 0 60px;
  margin-bottom: 20px;
  height: 60px;
}

.reasons-list__text {
  font-weight: 400;
  text-align: center;
}

.revievs-wrapper {
  width: 100%;
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.revievs-title {
  text-align: center;
  font-size: 50px;
  color: rgb(41, 105, 158);
  line-height: 1.06;
  letter-spacing: -0.7px;
  font-family: "HouschkaRoundedAlt 5";
  padding: 50px 160px 60px 160px;
}

.revievs-list {
  display: flex;
  justify-content: space-between;
}

.revievs-list li {
  position: relative;
  width: 32%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}

.revievs-list__img {
  position: relative;
  margin-bottom: 50px;
}

.revievs-list__img img {
  display: block;
  width: 100%;
  height: 194px;
}

.revievs-list__img::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -37px;
  transform: translateX(-50%);
  width: 74px;
  height: 74px;
  background-image: url(/img/reviews/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 99;
}

.revievs-list__content {
  position: relative;
  box-sizing: border-box;
  padding: 0 20px 80px 20px;
}

.revievs-list__content h3 {
  font-weight: bold;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.revievs-list__content p {
  font-weight: 40px;
  margin-bottom: 20px;
}

.revievs-list-name {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.revievs-list-name h3 {
  color: #36a1ed;
  font-weight: bold;
  margin: 0;
  font-size: 16px;
}

.revievs-list-name p {
  color: #6d6d6d;
  font-weight: 400;
  margin: 0;
  font-size: 14px;
}

.roombox {
  margin-bottom: 60px;
}

.roombox-title {
  display: block;
  width: 850px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.roombox-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.roombox-list li {
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roombox-list__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 135px;
  min-height: 135px;
  width: 135px;
  height: 135px;
  box-shadow: 0px 8px 16px 0px rgba(10, 79, 145, 0.2);
  border-radius: 50%;
  border: 6px solid #ffffff;
  overflow: hidden;
  margin-right: 30px;
}

.roombox-list__icon img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.roombox-list__title {
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
}

.form-wrapper {
  width: 100%;
  background-image: url(/img/form/form-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-block {
  padding: 10px 0;
}

.form-block__des {
  padding: 10px 0 30px 0;
  font-weight: 600;
  line-height: 1.4;
  font-size: 22px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(225deg, red, orange);

}



.form {
  width: 375px;
}

.input {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 10px;
  padding: 30px 35px;
  border-radius: 50px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-top: 10px;
}

.select {
  display: block;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  border-radius: 50px;
}

.select::before {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  content: "";
  width: 10px;
  height: 20px;
  background-image: url(/img/form/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
}

.productThank {
  position: relative;
  width: 100%;
}

.form-btn {
  align-items: center;
  position: relative;

  display: block;
  width: auto;
  border: none;
  outline: none;
  margin: 20px 0;
  padding: 32px 100px 32px 70px;
  border-radius: 50px;
  background: -webkit-linear-gradient(90deg,
      rgb(247, 127, 4) 0%,
      rgb(253, 187, 28) 100%);
  box-shadow: 0px 9px 47px rgba(252, 174, 22, 0.52);
  border-radius: 50px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.form-btn::before {
  position: absolute;
  content: "";
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url(/img/main/arrow.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.footer {
  padding: 20px 0;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts a {
  display: block;
  text-decoration: underline;
  color: #37a4ff;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links__item {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.faceboock {
  background-image: url(/img/footer/facebook.png);
}

.instagram {
  background-image: url(/img/footer/instagram.png);
}

.footer-documents {
  display: flex;
  justify-content: center;
}

.footer-documents li {
  padding: 10px 30px;
}

.footer-documents__item {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 400;
}

/* MODAL */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(68, 103, 167, 0.6);
  z-index: 79999;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 10px;
  border-radius: 10px 0 10px 10px;
  background-color: #ffffff;
}

.video-iframe {
  width: 100%;
  height: 35rem;
  display: block;
}

.close-modal {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
}

.close-modal div {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-image: url(/img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* POPUP */
.popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 103, 167, 0.7);
  z-index: 79999;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-sizing: border-box;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
}

.popup-title {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "HouschkaRoundedAlt 5";
  padding-bottom: 10px;
}

.popup-name {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 0 30px 10px 30px;
}

.popup-text {
  text-align: center;
  padding: 0 20px 25px;
  font-size: 16px;
  font-weight: 300;
}

.popup-input {
  position: relative;
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #f2f2f2;
  padding: 28px 25px;
  border-radius: 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px 0px rgba(60, 179, 222, 0.2);
}

.popup-btn {
  position: relative;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "HouschkaRoundedAlt 5";
  text-transform: uppercase;
  background: -webkit-linear-gradient(90deg,
      rgb(247, 127, 4) 0%,
      rgb(253, 187, 28) 100%);
  box-shadow: 0px 9px 47px rgba(252, 174, 22, 0.52);
  border-radius: 50px;
  padding: 24px 110px 24px 76px;
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 1.7px;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s;
}

.popup-btn::before {
  position: absolute;
  content: "";
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url(/img/main/arrow.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.popup-btn:hover {
  opacity: 0.7;
}

.close-popup {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(55, 164, 255);
  cursor: pointer;
}

.close-popup div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background-image: url(/img/close-white.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}